
.mobile-friendly {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: 85%;
    text-decoration: none;
}

.dropheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium';
    font-size: 95%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%; 
    max-width:99px;
}




@media (max-width:768px) {
    .mobile-friendly{
            font-weight:bolder;
            gap: 40px;
        }

    .Header-Tool-Title{
        font-weight: bolder;
        }
    }

   



    .Header-Tool-Title {
        font-size: 95%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }

    footer p {
        margin: 0;
        font-family: 'Teko', sans-serif;
    }

    .PageFooterStyle {
        padding: 20px;
        text-align: center;
        font-size: 14px;
        color: #000000;
    }

    .footer-container {
        display: flex;
        justify-content: center;
    }