.tool-box {
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

    .tool-box h2 {
        font-family: 'Teko', sans-serif;
        font-size: 32px;
        margin-bottom: 15px;
    }

    .tool-box input[type="file"],
    .tool-box textarea,
    .tool-box button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .tool-box button {
        width: 40%;
    }

    .tool-box textarea {
        height: 300px;
        font-family: monospace;
        font-size: 14px;
        padding: 10px;
        resize: vertical;
        border: 2px solid #ccc;
    }

    .tool-box button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .tool-box button:hover {
            background-color: #388E3C;
        }

#jsonOutput {
/*    border: 2px solid black;*/
    height:100px;
   
}

.json-text-toolbox {
    margin: 10px auto;
    max-width: 650px;
    border-radius: 10px;
   
}

    .json-text-toolbox h2 {
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        margin-bottom: 15px;
    }

    .json-text-toolbox input[type="file"],
    .json-text-toolbox textarea,
    .json-text-toolbox button {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .json-text-toolbox textarea {
        height: 300px;
        font-family: monospace;
        font-size: 14px;
        padding: 10px;
        resize: vertical;
        border: 2px solid black;
    }

    .json-text-toolbox button {
        width: 40%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }

        .json-text-toolbox button:hover {
            background-color: #45a049;
        }