
.adsense-tool {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background: #f4f4f4;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', sans-serif;
}

    .adsense-tool h2 {
        text-align: center;
        font-family: 'Teko', sans-serif;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .adsense-tool label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }

    .adsense-tool input, .adsense-tool select {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    .adsense-tool button {
        width: 40%;
        
        background: #28a745;
        border: none;
        padding: 12px 18px;
        font-size: 15px;
        border-radius: 6px;
        cursor: pointer;
    }

        .adsense-tool button:hover {
            background: #218838;
        }

.result {
    margin-top: 20px;
    padding: 12px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.forminput, .formselect {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button, input[type="submit"],.earningsbutton {
    background-color: #0a4d8c;
    color: #fff;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:;
}