.csv-tool {
	border-radius: 12px;
	padding: 45px;
	font-family: 'Segoe UI', sans-serif;
	background: #f9f9f9;
	border: 2px dashed #ccc;
}

	.csv-tool input[type="file"] {
		margin: 15px 0;
	}

	.csv-tool button {
		background-color: #28a745;
		color: white;
		padding: 10px 25px;
		border: none;
		
		font-size: 13px;
		cursor: pointer;
	}

		.csv-tool button:hover {
			background-color: #218838;
		}

.tool-box {
	border: 2px solid #ccc;
	padding: 20px;
	margin: 30px auto;
	max-width: 700px;
	border-radius: 10px;
	background: #f9f9f9;
}

	.tool-box h2 {
		font-family: 'Teko', sans-serif;
		font-size: 32px;
		margin-bottom: 15px;
	}

	.tool-box input[type="file"] {
		display: block;
		margin-bottom: 15px;
	}

	.tool-box button {
		background-color: #28a745;
		color: white;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 5px;
	}

		.tool-box button:hover {
			background-color: #218838;
		}