
.tool-box {
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 10px;
}

.tool-box h2 {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
}

.tool-box input[type="file"],
.tool-box textarea,
.tool-box button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.tool-box button {
    width: 40%;
}

.tool-box textarea {
    height: 300px;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    resize: vertical;
}

.tool-box button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .tool-box button:hover {
        background-color: #388E3C;
    }

#jsonOutput {

border: 2px dashed #ccc;
    height:200px;
   
   
    
}



.drop-zone {
    border: 2px dashed #888;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.drop-zone.dragover {
    background-color: #f0f0f0;
}

.download-list a {
    display: inline-block;
    margin: 8px 0;
}

.btn.btn-default {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 0;
    transition: background 0.2s ease-in-out;
}

    .btn.btn-default:hover {
        background-color: darkgreen;
    }

input[type="file"] {
    margin-top: 10px;
}




