################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XfinityTools.github.io/FileContentIndex/2b240f27-7fe7-4534-bd92-e076a044faf7.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/2c9670f9-365b-4b0a-86ad-f56f1d7c4654.vsidx
*.vsidx
