################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XfinityTools.github.io/FileContentIndex/2b240f27-7fe7-4534-bd92-e076a044faf7.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/a006090a-cd74-4129-92a6-8c6c21d53349.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/14b7490c-79e7-4efe-ae39-6ce3b4badf1d.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/2c9670f9-365b-4b0a-86ad-f56f1d7c4654.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/6de2c1d2-ab20-4ad7-9421-c07a955852db.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/c5725df2-10e6-457a-9461-7abacaa8d22e.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/ae4f940f-9d1c-4800-b093-e4587341efae.vsidx
/.vs/XfinityTools.github.io/FileContentIndex/e242b465-59d1-4820-85b8-14c5c9bbb002.vsidx
*.vsidx
