################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XfinityTools.github.io/FileContentIndex/2b240f27-7fe7-4534-bd92-e076a044faf7.vsidx
