
@media (max-width: 768px) {
    .content-section{
        width:65%;
        padding:25px;
        font-size:50px;
    }
}


.font-family-Franklin Gothic Medium {
    font-family: 'Franklin Gothic Medium';
}

