@media (max-width: 768px) {
    .content-section {
        width: 65%;
        padding: 30px;
        border-left: 3px solid #e60340;
    }

    html, body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        
    }
}



.font-family-Franklin Gothic Medium {
    font-family: 'Franklin Gothic Medium';
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.content-section {
    width: 43%;
    padding: 22px;
    border-left: 3px solid #e60340;
/*    box-shadow: none;*/
}

.ad-unit {
    width: 30%;
    margin-left: 20px;
    padding: 20px;
}

ol {
    font-size: 19.5px;
}

